@using Example.Utils;

<html>
  <head>
  </head>
  <body>
    testの内容：@SessionManager.AsyncSessionManager.test
    <br />
    <a href="/Test">更新</a>
    <br />
    <a href="/Login/Logout">ログアウト</a>
  </body>
</html>
