<html>
  <head>
  </head>
  <body>
    <form action="/Login/Login" method="post">
      ID：<input type="text" name="Id" />
      <br />
      PW：<input type="password" name="Password" />
      <br />
      <input type="submit" value="ログイン" />
    </form>
  </body>
</html>
